#snippet_store{
    display: none;
}
.medication-mode{
    width: 112px;
}
.med-timmed-clocks{
    display: none;
    margin-left: 10px;
}
.medication-mode{
    display: none;
}
.med-timmed-clock-template{
    display: none;
}
.med-clock{
    width: 112px;
}
.med-event{
    display: none !important;
}
.med-asneeded{
    display: none !important;
}
.editor-panel .panel-body{

}
.frequency-row{
    margin-top: 8px;
}
.med-when-context{
    padding-left: 5px;
}
.medicine-text{
    margin-top: 8px;
    padding: 5px;
    display: block;
    position: relative;
    width: 100%;
    float: left;
}
.medicine-editor-med-control{
    float: right;
}
.med-when-ba{
    margin-left: 32px;
}
.translatable{
    text-align: left;
    font-size: 15px;
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    cursor: pointer;
}
.translatable:hover{
    background-color: yellow;
}
.error-input{
    clear: right;
    display: block;
    text-align: left;
    font-size: 15px;
    padding-left: 2px;
    padding-right: 2px;
    color: red;
}
.med-termination{

}
.translatable .tag{
    display: none;
}
.translatable .tag-active{
    display: inline;
}

.translatable-compound{
    display: block;
    position: relative;
    float: left;
}
.translatable-tokens{
    display: block;
    float: left;
    position: relative;
}
.translation-actions{
    display: none;
    float: left;
    width: 20px;
    position: absolute;
    right: -20px;
    top: -2px;
    cursor: pointer;
}
.translatable-compound:hover .translation-actions{
    display: block;
}
.translation-action:hover{
    background-color: yellow;
}
.translation-action{
    display: block;
    float: left;
    width: 100%;
    background-color: white;
    color: black;
    padding-left: 2px;
    margin-bottom: 2px;
    line-height: 12px;
    font-size: 12px;
}
.translate-bn{

}
.translate-en{

}
.investigation-list{
    float: left;
    display: block;
    position: relative;
}
.investigation-item{
    cursor: pointer;
}