{% load staticfiles %}
{% load identity_extras %}
<html moznomarginboxes mozdisallowselectionprint>
    <head>
        <title>Prescription for {{story.patient.get_full_name}}</title>
        <style type='text/css'>
            @import url("{% static 'css/common.css' %}");
            @import url("{% static 'css/heading.css' %}");
            @import url("{% static 'css/sprite/prescription-viewer.css' %}");
        </style>
        <script type="text/javascript" src="{% static 'js/jquery.1.9.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/d3.v3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.qrcode.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#qr').qrcode({text: '{"p":{{story.patient.id}},"d":{{story.doctor.id}},"s":{{story.id}}}', width: 128, height: 128, ecLevel: 'L'});
            })
        </script>
    </head>
    <body>
        <div class="main" id="main">
            <div class="content">
                <div class="prescription">
                    <div class="prescription-head">
                        <img class="prescription-logo" src="/static/pix/doctor-logo.jpg" />
                        <div id="qr" class="prescription-qr"></div>
                        <div class="prescription-meta">
                            <div class="prescription-doctor">
                                <div class="prescription-doctor-name">{{story.doctor.get_full_name}}</div>
                                <div class="prescription-doctor-specialization">{{story.doctor.specialization}}</div>
                                <div class="prescription-doctor-email">{{story.doctor.email}}</div>
                                <div class="prescription-when">{{story.when}}</div>
                            </div>
                            <div class="prescription-patient">
                                <div class="prescription-patient-name">{{story.patient.get_full_name}}</div>
                                <div class="prescription-patient-age">{{story.patient.sex}} {{story.patient.age|delta_string}}</div>
                                <div class="prescription-patient-email">{{story.patient.email}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="prescription-content">
                        <div class="prescription-complaints">
                            <div class="prescription-complaints-label">
                                complaint{% if prescriptions|length > 1 %}s{% endif %}
                            </div>
                            {% for complaint in complaints %}
                                <div class="prescription-complaint">
                                    <div class="complaint-section complaint-section-symptom">
                                        <div class="complaint-section-heading complaint-section-heading-symptom"></div>
                                        <div class="complaint-section-body">
                                            {{ complaint.body.symptoms|complaint_symptoms_summarized|safe }}
                                        </div>
                                    </div>
                                    <div class="complaint-section complaint-section-vitals">
                                        <div class="complaint-section-heading complaint-section-heading-vitals"></div>
                                        <div class="complaint-section-body">
                                            {{ complaint.body.sensorData|complaint_vitals|safe }}
                                        </div>
                                    </div>
                                    <div class="complaint-section complaint-section-observation">
                                        <div class="complaint-section-heading complaint-section-heading-observation"></div>
                                        <div class="complaint-section-body">
                                            {{ complaint.body.generalObservation|complaint_observations|safe }}
                                        </div>
                                    </div>
                                    <div class="complaint-section complaint-section-habit">
                                        <div class="complaint-section-heading complaint-section-heading-habit"></div>
                                        <div class="complaint-section-body">
                                            {{ complaint.body.habit|complaint_habits|safe }}
                                        </div>
                                    </div>
                                    <div class="complaint-section complaint-section-history">
                                        <div class="complaint-section-heading complaint-section-heading-history"></div>
                                        <div class="complaint-section-body">
                                            {{ complaint.body.medicalHistory|complaint_history|safe }}
                                        </div>
                                    </div>
                                    <div class="complaint-section complaint-section-postexams">
                                        <div class="complaint-section-heading complaint-section-heading-postexams"></div>
                                        <div class="complaint-section-body">
                                            {{ complaint.body.post_exam|complaint_postexams_summarized|safe }}
                                        </div>
                                    </div>
                                    <div class="complaint-section complaint-section-family">
                                        <div class="complaint-section-heading complaint-section-heading-family"></div>
                                        <div class="complaint-section-body">
                                            {{ complaint.body.familyHistory|complaint_family_summarized|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="prescription-prescriptions">
                            <div class="prescription-prescriptions-label">
                                prescription{% if prescriptions|length > 1 %}s{% endif %}
                            </div>
                            {% for prescription in prescriptions %}
                                <div class="prescription-prescription">
                                    <div class="prescription-prescription-medicines">
                                        <ol class="prescription-prescription-medicines-list">
                                            {% for medicine in prescription.body.envelops %}
                                                <li class="prescription-prescription-medicines-list-item">
                                                    {{medicine|medadvice|safe}}
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
