{% load staticfiles %}
{% load identity_extras %}
<!DOCTYPE html>
<html>
    <head>
        <title>Doctors</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        <style type='text/css'>
            @import url('{% static 'css/daterangepicker.css' %}');
            @import url('{% static 'css/jquery.datetimepicker.css' %}');
            @import url('{% static 'css/common.css' %}');
            @import url('{% static 'css/heading.css' %}');
            @import url('{% static 'css/doctor.css' %}');

            @import url('{% static 'css/sprite/notice.css' %}');
            @import url('{% static 'css/sprite/doctor.css' %}');
            @import url('{% static 'css/sprite/notice.css' %}');
            @import url('{% static 'css/sprite/appointment.css' %}');
            @import url('{% static 'css/sprite/negotiation.css' %}');
            @import url('{% static 'css/sprite/ministory.css' %}');
            @import url('{% static 'css/sprite/patient.css' %}');
            @import url('{% static 'css/sprite/admission.css' %}');

            @import url('{% static 'css/panel/doctor.css' %}');
            @import url('{% static 'css/panel/admissions.css' %}');
            @import url('{% static 'css/panel/patients.css' %}');
            @import url('{% static 'css/panel/appointments.css' %}');
            @import url('{% static 'css/panel/ministories.css' %}');
            @import url('{% static 'css/panel/story-creation.css' %}');
            @import url('{% static 'css/sprite/story-viewer.css' %}');
            @import url('{% static 'css/sprite/doctor.css' %}');
            @import url('{% static 'css/sprite/patient.css' %}');
            @import url('{% static 'css/sprite/admission.css' %}');
            @import url('{% static 'css/sprite/prescription.css' %}');
            @import url('{% static 'css/panel/chat.css' %}');

            .component-sprite{
                margin-right: 3px;
                margin-bottom: 3px;
            }
            .doctor-sprite{
                float: left;
            }
            .patient-sprite{
                float: left;
            }
            .organization-sprite{
                width: 501px;
                float: left;
            }
            .filter{
                margin: 0px;
                padding: 0px;
                color: white;
                float: left;
                position: relative;
            }
            .filter:hover{
                margin: 0px;
                padding: 0px;
            }
            .filter-button{
                list-style-type: none;
                float: left;
                margin-left: 7px;
                padding-top: 8px;
            }
            .filter-button:hover{
                background: #E4E4E6;
                margin: 0px;
                color: #252734;
                height: 100%;
                padding-left: 7px;
                padding-right: 7px;
                padding-bottom: 7px;
                cursor: pointer;
            }
            .patient-item{

            }
        </style>
        <script type="text/javascript" src="{% static 'js/jquery.3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/d3.v3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.daterangepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sprite/appointment.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/panel/appointments.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/panel/ministories.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/typeahead.bundle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/handlebars-v1.3.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/panel/appointment-creation.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/panel/story-creation.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sprite/story-viewer.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/nunjucks.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/panel/chat.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <!--
        <script type="text/javascript" src="{% static 'js/panel/admissions.js' %}"></script>
        -->
        <script type="text/javascript">
            $(document).ready(function(){
                $("#heading").stick_in_parent();
                $("#patient-bio").stick_in_parent();
                $('#story_creation_button').click(function(){
                    var panel = $('#story_creation_panel');
                    if(panel.is(':visible')){
                        panel.hide();
                        $('#story_creation_button').show();
                    }else{
                        panel.show();
                        $('#story_creation_button').hide();
                    }
                });
                $('#story_creation_reset').click(function(){
                    $('#story_creation_button').trigger('click');
                });
                $('#story_creation_form').submit(function(e){
                    e.preventDefault();
                    var overlay = $('#story_creation_panel .story-creation-form-overlay');
                    $('.form-field-error ul').html('');
                    overlay.addClass('story-creation-form-overlay-loading');
                    var form_data = $(this).serializeArray();
                    form_data.push({'name': 'is_prescription', 'value': 'on'});
                    $.ajax({
                        url:  $(this).attr('action'),
                        data: form_data,
                        type: 'POST',
                        success: function(data){
                            overlay.removeClass('story-creation-form-overlay-loading');
                            overlay.html('');
                            if(data.success){
                                overlay.addClass('story-creation-form-overlay-success');
                                overlay.html('Successfully Created Story');
                                overlay.show();
                                setTimeout(function(){
                                    overlay.removeClass('story-creation-form-overlay-success');
                                    overlay.html('');
                                    overlay.hide();
                                    $('#story_creation_button').trigger('click');
                                }, 1500);
                            }else{
                                $.each(data.errors, function(key, errors){
                                    var elem = $('#id_'+key);
                                    var error_div = $(elem.siblings('.form-field-error')[0]);
                                    var error_ul = error_div.find('ul');
                                    error_ul.html('');
                                    $.each(errors, function(i, error){
                                        var li = $("<li>"+error+"</li>");
                                        error_ul.append(li);
                                    });
                                });
                            }
                            console.log(data);
                        },
                        error: function(xhr){
                            overlay.removeClass('story-creation-form-overlay-loading');
                            overlay.html('');
                            if(xhr.status == 403){
                                var error_panel =  $('#story_creation_panel .form-error');
                                error_panel.html('You are Not Authorized to Create an Appointment');
                            }
                        }
                    });
                    return false;
                });
                Array.prototype.removeValue = function(name, value){
                   var array = $.map(this, function(v,i){
                      return v[name] === value ? null : v;
                   });
                   this.length = 0; //clear original array
                   this.push.apply(this, array); //push all elements except the one we want to delete
                }
                var render_prescription = function(){
                  var prescription = $("#prescription");
                  var json = prescription.data("prescription");
                  var body = $("#prescription_body");
                  body.html('');
                  $(json.medicines).each(function(){
                    if(this.type == 'periodic'){
                        var interval_text = '';
                        if(this.interval <= 24 && 24 % this.interval == 0){
                            interval_text = 24/this.interval + " times daily";
                        }else if(this.interval % 24 == 0){
                            var di = this.interval/24;
                            var dit = '';
                            if(di%10 == 1) dit = "st";
                            else if(di%10 == 2) dit = "nd";
                            else if(di%10 == 3) dit = "rd";
                            else dit = "th";
                            interval_text = "Every "+di+dit+" day";
                        }else{
                            interval_text = "Every "+this.interval + " hours";
                        }
                        var termination_text = (this.termination == -1) ? "untill prescribed to stop" : "For "+ this.termination+ " days";
                        var when_text = this.when;
                        var note_text = this.note.length ? ("("+this.note+")") : "";

                        body.append($('<div data-id="'+this.id+'" data-key="medicines" class="prescription-entry medication-periodic well well-sm"> \
                                        <div class="prescription-entry-remove glyphicon glyphicon-remove"></div>                                    \
                                        <div class="medicine-name">'+this.name+'</div>                                                              \
                                        <div class="medicine-dose">'+this.dose+'mg</div>                                                            \
                                        <div class="medicine-interval">'+interval_text+'</div>                                                      \
                                        <div class="medicine-termination">'+termination_text+'</div>                                                \
                                        <div class="medicine-when">'+when_text+'</div>                                                              \
                                        <div class="medicine-note">'+note_text+'</div>                                                              \
                                        </div>'));
                    }else if(this.type == 'asrequired'){
                        body.append($('<div data-id="'+this.id+'" data-key="medicines" class="prescription-entry medication-periodic well well-sm"> \
                                        <div class="prescription-entry-remove glyphicon glyphicon-remove"></div>                                    \
                                        <div class="medicine-name">'+this.name+'</div>                                                              \
                                        <div class="medicine-dose">'+this.dose+'mg</div>                                                            \
                                        <div class="medicine-situation">'+this.situation+'</div>                                                    \                                   \
                                        </div>'));
                    }else if(this.type == 'investigation'){
                        body.append($('<div data-id="'+this.id+'" data-key="medicines" class="prescription-entry medication-periodic well well-sm"> \
                                        <div class="prescription-entry-remove glyphicon glyphicon-remove"></div>                                    \
                                        <div class="medicine-name">'+this.name+'</div>                                                              \
                                        <div class="medicine-note">'+this.note+'</div>                                                            \                                   \
                                        </div>'));
                    }else if(this.type == 'advice'){
                        body.append($('<div data-id="'+this.id+'" data-key="medicines" class="prescription-entry medication-periodic well well-sm"> \
                                        <div class="prescription-entry-remove glyphicon glyphicon-remove"></div>                                                         \
                                        <div class="medicine-note">'+this.note+'</div>                                                            \                                   \
                                        </div>'));
                    }
                  });
                  $("#id_body").val(JSON.stringify(json));
                }
                $("#prescription_body").on('click', 'div.prescription-entry div.prescription-entry-remove', function(){
                  var parent = $(this).parent();
                  var id = parent.data('id');
                  var key = parent.data('key');
                  var prescription = $("#prescription");
                  var json = prescription.data("prescription");
                  json[key].removeValue('id', id);
                  prescription.data("prescription", json);
                  $("#id_body").val(JSON.stringify(json));
                  render_prescription();
                  console.log(json);
                });
                $("#periodic_medication").click(function(){
                  var form = $('<form> \
                    <div class="input-group"> \
                      <span class="input-group-addon" id="basic-addon1">Medicine Name</span> \
                      <input name="medname" type="text" class="form-control" placeholder="Medicine Name" aria-describedby="basic-addon1"> \
                      <span class="input-group-addon" id="basic-addon1">Dose</span> \
                      <input name="meddose" type="text" class="form-control" placeholder="in mg" aria-describedby="basic-addon1"> \
                    </div> \
                    <div class="input-group form-group"> \
                      <div class="input-group-btn"> \
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Interval <span class="caret"></span></button> \
                        <ul class="dropdown-menu"> \
                            <li><a href="#" class="interval-helper" data-interval="24">Once Daily</a></li> \
                            <li><a href="#" class="interval-helper" data-interval="12">Twice Daily</a></li> \
                            <li><a href="#" class="interval-helper" data-interval="8">Thrice Daily</a></li> \
                            <li><a href="#" class="interval-helper" data-interval="6">4 times Daily</a></li> \
                            <li role="separator" class="divider"></li> \
                            <li><a href="#" class="interval-helper" data-interval="48">Alternate Days</a></li> \
                            <li role="separator" class="divider"></li> \
                            <li><a href="#" class="interval-helper" data-interval="168">Once in a Week</a></li> \
                        </ul> \
                      </div> \
                      <input type="text" name="medinterval" class="form-control" placeholder="in hours (12 for twice daily)" aria-describedby="basic-addon1"> \
                      <div class="input-group-btn"> \
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Termination <span class="caret"></span></button> \
                        <ul class="dropdown-menu"> \
                            <li><a href="#" class="termination-helper" data-termination="7">After 1 Week</a></li> \
                            <li><a href="#" class="termination-helper" data-termination="14">After 2 Weeks</a></li> \
                            <li><a href="#" class="termination-helper" data-termination="21">After 3 Weeks</a></li> \
                            <li><a href="#" class="termination-helper" data-termination="28">After 4 Weeks</a></li> \
                            <li role="separator" class="divider"></li> \
                            <li><a href="#" class="termination-helper" data-termination="30">After 1 month</a></li> \
                            <li><a href="#" class="termination-helper" data-termination="60">After 2 months</a></li> \
                            <li><a href="#" class="termination-helper" data-termination="90">After 3 month</a></li> \
                            <li><a href="#" class="termination-helper" data-termination="120">After 4 months</a></li> \
                            <li role="separator" class="divider"></li> \
                            <li><a href="#" class="termination-helper" data-termination="-1">Until adviced</a></li> \
                        </ul> \
                      </div> \
                      <input type="text" name="medterm" class="form-control" placeholder="in days" aria-describedby="basic-addon1"> \
                        <select class="selectpicker"> \
                          <option value="anytime">Anytime</option> \
                          <option value="before meal">Before Meal</option> \
                          <option value="after meal">After Meal</option> \
                        </select> \
                    </div> \
                    <div class="input-group"> \
                      <span class="input-group-addon" id="basic-addon1">Note</span> \
                      <input name="mednote" type="text" class="form-control" placeholder="Note" aria-describedby="basic-addon1"> \
                    </div> \
                  </form>');
                  $(form).on("click", ".interval-helper", function(){
                      var helper = $(this);
                      var control = helper.closest('.input-group-btn').next('.form-control');
                      control.val(helper.data("interval"))
                  });
                  $(form).on("click", ".termination-helper", function(){
                      var helper = $(this);
                      var control = helper.closest('.input-group-btn').next('.form-control');
                      control.val(helper.data("termination"))
                  });
                  bootbox.confirm(form, function(result){
                      if(!result) return false;
                      var name = form.find('input[name=medname]').val();
                      var dose = form.find('input[name=meddose]').val();
                      var interval = form.find('input[name=medinterval]').val();
                      var termination = form.find('input[name=medterm]').val();
                      var note = form.find('input[name=mednote]').val();
                      var when = form.find(".selectpicker").find("option:selected").val();
                      var data = {"id": (+new Date)+Math.random(), "type": "periodic", "name": name, "dose": dose, "interval": interval, "termination": termination, "when": when, "note": note};
                      var prescription = $("#prescription");
                      var pdata = prescription.data("prescription");
                      pdata["medicines"].push(data);
                      prescription.data("prescription", pdata);
                      render_prescription();
                  });
                  $('.selectpicker').selectpicker({
                    size: 4
                  });
                });
                $("#asrequired_medication").click(function(){
                  var form = $('<form> \
                      <div class="input-group"> \
                        <span class="input-group-addon" id="basic-addon1">Medicine Name</span> \
                        <input name="medname" type="text" class="form-control" placeholder="Medicine Name" aria-describedby="basic-addon1"> \
                        <span class="input-group-addon" id="basic-addon1">Dose</span> \
                        <input name="meddose" type="text" class="form-control" placeholder="in mg" aria-describedby="basic-addon1"> \
                      </div> \
                      <div class="input-group"> \
                        <span class="input-group-addon" id="basic-addon1">Situation</span> \
                        <input name="medcase" type="text" class="form-control" placeholder="situation" aria-describedby="basic-addon1"> \
                      </div> \
                    </form>');
                  bootbox.confirm(form, function(result){
                      if(!result) return false;
                      var name = form.find('input[name=medname]').val();
                      var dose = form.find('input[name=meddose]').val();
                      var situation = form.find('input[name=medcase]').val();
                      var data = {"id": (+new Date)+Math.random(), "type": "asrequired", "name": name, "dose": dose, "situation": situation};
                      var prescription = $("#prescription");
                      var pdata = prescription.data("prescription");
                      pdata["medicines"].push(data);
                      prescription.data("prescription", pdata);
                      render_prescription();
                  });
                });
                $("#advice_medication").click(function(){
                    bootbox.prompt({
                        title: "Advice to Patient",
                        inputType: 'textarea',
                        callback: function (result){
                            var data = {"id": (+new Date)+Math.random(), "type": "advice", "note": result};
                            var prescription = $("#prescription");
                            var pdata = prescription.data("prescription");
                            pdata["medicines"].push(data);
                            prescription.data("prescription", pdata);
                            render_prescription();
                        }
                    });
                });
                $("#test_medication").click(function(){
                  var form = $('<form> \
                      <div class="input-group"> \
                        <select name="medtest" class="selectpicker"> \
                          <option value="xray">X-Ray</option> \
                          <option value="test1">Test #1</option> \
                          <option value="test2">Test#2</option> \
                        </select> \
                        <input name="mednote" type="text" class="form-control" placeholder="note" aria-describedby="basic-addon1"> \
                      </div> \
                    </form>');
                  bootbox.confirm(form, function(result){
                      if(!result) return false;
                      var name = form.find(".selectpicker").find("option:selected").val();
                      var note = form.find('input[name=mednote]').val();
                      var data = {"id": (+new Date)+Math.random(), "type": "investigation", "name": name, "note": note};
                      var prescription = $("#prescription");
                      var pdata = prescription.data("prescription");
                      pdata["medicines"].push(data);
                      prescription.data("prescription", pdata);
                      render_prescription();
                  });
                  $('.selectpicker').selectpicker({
                    size: 4
                  });
                });
                $("#remark_medication").click(function(){
                  alert(3);
                });
            });
        </script>
        <script type="text/javascript">
            function create_prescription(div, story_id, patient_id, patient_name){
                var story_viewer = $(div).closest('.story-viewer');
                console.log(story_viewer);
                story_viewer.css('left', '0px');
                $('.story-viewer').each(function(){
                    if(this != story_viewer[0]) $(this).remove();
                })
                console.log(story_id, patient_id, patient_name);
                var panel = $('#story_creation_panel');
                panel.show();
                $("#id_patient").val(patient_id);
                $("#id_patient_selector").val(patient_name);
                $('#id_story_referer').val(story_id);
                $('.story-refer').trigger("click");
            }
        </script>
    </head>
    <body>
        <div class="heading" id="heading">
            <div class="logo">//smcc:identity//</div>
            <div class="user">
                <a id="user_button" href="{% url 'doctor' doctor.id %}">{{request.user.get_short_name}}</a>
                <div class="user-menu" id="user_menu">
                    <ul class="user-menu-options">
                        <li class="user-menu-option"><a href="/user/land">Profile</a></li>
                        <li class="user-menu-option">Account</li>
                        <li class="user-menu-option user-menu-option-break">&nbsp;</li>
                        <li class="user-menu-option user-menu-option-last"><a href="/user/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="search">
                <input type="text" value="" class="search-input" />
            </div>
            <div class="map"></div>
        </div>
        <div class="main" id="main">
            {% view 'identity.panels.DoctorPanel' doctor %}
            <div class="content">
                {% for notice in notices %}
                    {% view 'identity.sprites.NoticeSprite' notice %}
                {% endfor %}
                {% view 'identity.panels.AdmissionsPanel' admissions %}
                {% view 'identity.panels.AppointmentsPanel' appointments %}
                {% view 'identity.panels.MiniStoriesPanel' stories %}
                {% view 'identity.panels.PatientsPanel' patients %}
            </div>
            {% view 'identity.panels.RandomStoryCreationPanel' story_form %}
            {% view 'identity.panels.ChatPanel' %}
        </div>
    </body>
</html>
