{% load staticfiles %}
{% load identity_extras %}
<html>
    <head>
        <title>Patients</title>
        <style type='text/css'>
            @import url('{% static 'css/common.css' %}');
            @import url('{% static 'css/heading.css' %}');
            @import url('{% static 'css/patients.css' %}');
            @import url('{% static 'css/sprite/patient.css' %}');
        </style>
        <script type="text/javascript" src="{% static 'js/jquery.1.9.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#heading").stick_in_parent();
            })
        </script>
    </head>
    <body>
        <div class="heading" id="heading">
            <div class="logo">//smcc:identity//</div>
            <div class="search">
                <input type="text" value="" class="search-input" />
            </div>
            <div class="map"></div>
        </div>
        <div class="main" id="main">
            <ul class="patients">
            {% for patient in patients %}
                <li class="patient">
                    {% view "identity.sprites.PatientSprite" patient %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>
