{% load staticfiles %}
{% load identity_extras %}
<!DOCTYPE html>
<html>
    <head>
        <title>Patient {{patient.get_full_name}}</title>
        <style type='text/css'>
            @import url('{% static 'css/daterangepicker.css' %}');
            @import url('{% static 'css/registration.css' %}');
            @import url('{% static 'css/common.css' %}');
            @import url('{% static 'css/form.css' %}');
            @import url('{% static 'css/heading.css' %}');
            @import url('{% static 'css/sprite/notice.css' %}');
            label{
                display: block;
                clear: left;
            }
        </style>
        <script type="text/javascript" src="{% static 'js/jquery.1.9.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/d3.v3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.daterangepicker.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#heading").stick_in_parent();
                // $(".left-panel").stick_in_parent();
            })
        </script>
    </head>
    <body>
        <div class="heading" id="heading">
            <div class="logo">//smcc:identity//</div>
            <div class="search">
                <input type="text" value="" class="search-input" />
            </div>
            <div class="navigation">
                <ul class="links">
                    <li class="link"><a href="#"></a></li>
                </ul>
            </div>
            <div class="map"></div>
        </div>
        <div class="main" id="main">
            
            <div class="content">
                <div class="banner">
                    <div class="slogan">Health Management System</div>
                    <div class="fastgan">Patient + Doctor + Organization + Paramedic + Operator</div> 
                    <br/>
                    
                    <div class="fastgan" style="font-size: 25px;">Patient Registration</div>
                    <br/>
                    <hr style="width: 50%;"> 
                    <br/>
                		<div class="form-container login">
                    <div class="form-overlay login-overlay">{{status}}</div>
                    <div class="form-error login-form-error">
                        {{ form.non_field_errors }}
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        
                        {% comment %}
                            {{form.as_p}}
                        {% endcomment %}
                        
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                        {% for field in form %}
                        <div class="fieldWrapper">
                            
                            <label for="{{ field.id_for_label }}">{{ field.label  }}</label>
                            {{ field }}
                            {{ field.message }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        <input type="submit" value="Submit" class="reg-submit" />
                    </form>
                	</div>
                </div>
            </div>
        </div>
    </body>
</html>

