.chat-users{
    width: 250px;
    /* height: 70%; */
    position: fixed;
    display: block;
    right: 0px;
    bottom: 0px;
    background-color: white;
    border-left: 1px solid #cecece;
    z-index: 1;
}
.chat-users-search{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
}
.chat-users-list-ul{
    padding-left: 4px;
    margin-bottom: 34px;
}
.chat-users-list-li{
    list-style-type: none;
}
.chat-users-participant{
    position: relative;
    display: flex;
    width: 100%;
    /* border-top: 1px solid slategrey; */
    /* border-bottom: 1px dashed #888; */
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 4px;
    color: black;
    /* margin-top: 2px; */
    /* font-size: 12px; */
    background: #ffffff;
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(135deg, #ffffff 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 )
}
.chat-users-participant:hover{
    background: #f6f6f6;
    background: -moz-linear-gradient(-45deg, #f6f6f6 0%, #e1e1e1 49%, #f1f1f1 50%, #ffffff 100%);
    background: -webkit-linear-gradient(-45deg, #f6f6f6 0%,#e1e1e1 49%,#f1f1f1 50%,#ffffff 100%);
    background: linear-gradient(135deg, #f6f6f6 0%,#e1e1e1 49%,#f1f1f1 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=1 );
}
.chat-users-participant-type{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-right: -22px;
    /* background-color: slategrey; */
    height: 22px;
    /* padding-left: 5px; */
    padding-right: 7px;
    color: slategray;
    margin-top: 26px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 64px;
    /* display: none; */
    position: absolute;
    right: 0px;
    border-bottom: 1px solid slategray;
    top: 0px;
}
.chat-users-participant-photo{
    width: 64px;
    height: 64px;
    /*border: 1px solid slategrey;*/
    /* margin-left: -37px; */
    margin-top: 2px;
    margin-right: 2px;
    -webkit-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-radius: 30px;

    background-image:    url(https://static.makegameswith.us/static/img/unknown_profile.49eee1353c41.png);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}
.chat-users-participant-info{
    margin-left: 5px;
    font-size: 12px;
}
.chat-users-participant-name{
    font-weight: bold;
    font-size: 13px;
    background-color: #e3e6e8;
    color: black;
    padding: 2px 4px 4px 8px;
    border-radius: 6px;
    margin-top: 5px;
}
.chat-users-participant-email{

}
.chat-users-participant-patient-age{

}
.chat-users-participant-doctor-rank{

}
.chat-boxes{
    position: fixed;
    display: block;
    /* width: 100%; */
    height: 300px;
    right: 0px;
    bottom: 0px;
    padding-right: 250px;
    pointer-events: none;
}
.chat-box{
    position: relative;
    float: right;
    height: 100%;
    width: 250px;
    display: block;
    border-right: 1px solid #afadad;
    background-color: #e0e0e0;
    border-left: 1px solid #fafafa;
}
.chat-box-title{
    width: 100%;
    height: 10%;
    /*background-color: #737373;*/
    background-color: slategray;
    padding-left: 10px;
    border-right: 1px solid white;
}
.chat-box-title-name{
    padding-top: 3px;
    padding-top: 4px;
    font-weight: bold;
    color: white;
}
.chat-box-title-control{
    position: relative;
    display: block;
    width: 18px;
    height: 100%;
    float: right;
    margin-top: -16px;
    cursor: pointer;
    color: white;
}
.chat-box-body{
    height: 78%;
    width: 100%;
    position: relative;
    display: block;
    overflow-y: auto;
}
.chat-box-write{
    width: 100%;
    height: 12%;
}
.message-list-item{
    list-style-type: none;
}
.chat-message{
    display: block;
    max-width: 200px;
    min-width: 150px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    clear: both;
    font-size: 15px;
    background-color: white;
    margin-bottom: 6px;
}
.chat-message-incomming{
    float: left;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 8px;
    padding-left: 2px;
    margin-left: 2px;
}
.chat-message-outgoing{
    float: right;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 8px;
    padding-right: 2px;
    margin-right: 6px;
}
.chat-message-time{
    position: relative;
    display: block;
    font-size: 8px;
    top: 0px;
    color: black;
}
.chat-message-incomming .chat-message-time{
    text-align: left;
}
.chat-message-outgoing .chat-message-time{
    text-align: right;
}
.chat-message-msg{
    font-size: 13px;
}
.chat-message-incomming .chat-message-time{
    left: 0px;
}
.chat-message-outgoing .chat-message-time{
    right: 0px;
}
.chat-message:hover .chat-message-time{
    display: block;
}
.chat-box-video{
    display: none;
}
.chat-box-camera{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -248px;
    left: -100px;
    background-color: black;
}
.chat-box-screen{
    width: 248px;
    height: 248px;
    background-color: black;
    top: -248px;
    left: 0px;
    position: absolute;
}
.chat-message-meta{
    display: none;
}
.chat-video-call{
    width: 100%;
    float: left;
    position: relative;
    display: block;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.chat-video-request{
    width: 100%;
    float: left;
    position: relative;
    display: block;
    height: 100%;
    color: white;
}
.chat-video-request-phone{
    width: calc( 100% - 30px);
    height: 100%;
    float: left;
    position: relative;
    display: block;
    padding-left: 72px;
    padding-top: 5px;
    font-size: 13px;

    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.chat-video-request-drop{
    width: 30px;
    height: 100%;
    float: left;
    position: relative;
    display: block;
    text-align: center;
    padding-top: 6px;
    font-size: 18px;
    margin-top: -1px;
    cursor: pointer;

    background: rgba(234,72,94,1);
    background: -moz-linear-gradient(top, rgba(234,72,94,1) 0%, rgba(229,31,48,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,72,94,1)), color-stop(100%, rgba(229,31,48,1)));
    background: -webkit-linear-gradient(top, rgba(234,72,94,1) 0%, rgba(229,31,48,1) 100%);
    background: -o-linear-gradient(top, rgba(234,72,94,1) 0%, rgba(229,31,48,1) 100%);
    background: -ms-linear-gradient(top, rgba(234,72,94,1) 0%, rgba(229,31,48,1) 100%);
    background: linear-gradient(to bottom, rgba(234,72,94,1) 0%, rgba(229,31,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea485e', endColorstr='#e51f30', GradientType=0 );

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.chat-video-call-status-progress:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}
@keyframes ellipsis {
  to {
    width: 20px;    
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}
.chat-video-ring{
    width: 100%;
    float: left;
    position: relative;
    display: block;
    height: 100%;
    color: white;
}
.chat-video-ring-accept{
    width: 30px;
    height: 100%;
    float: left;
    position: relative;
    display: block;
    text-align: center;
    padding-top: 6px;
    font-size: 18px;
    margin-top: -1px;
    cursor: pointer;

    background: rgba(64,161,176,1);
    background: -moz-linear-gradient(left, rgba(64,161,176,1) 0%, rgba(54,132,150,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,161,176,1)), color-stop(100%, rgba(54,132,150,1)));
    background: -webkit-linear-gradient(left, rgba(64,161,176,1) 0%, rgba(54,132,150,1) 100%);
    background: -o-linear-gradient(left, rgba(64,161,176,1) 0%, rgba(54,132,150,1) 100%);
    background: -ms-linear-gradient(left, rgba(64,161,176,1) 0%, rgba(54,132,150,1) 100%);
    background: linear-gradient(to right, rgba(64,161,176,1) 0%, rgba(54,132,150,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40a1b0', endColorstr='#368496', GradientType=1 );


    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.chat-video-ring-phone{
    width: calc( 100% - 60px);
    height: 100%;
    float: left;
    position: relative;
    display: block;
    padding-left: 42px;
    padding-top: 5px;
    font-size: 13px;

    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
}
.chat-video-ring-reject{
    width: 30px;
    height: 100%;
    float: left;
    position: relative;
    display: block;
    text-align: center;
    padding-top: 6px;
    font-size: 18px;
    margin-top: -1px;
    cursor: pointer;

    background: rgba(240,61,82,1);
    background: -moz-linear-gradient(top, rgba(240,61,82,1) 0%, rgba(237,18,32,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,61,82,1)), color-stop(100%, rgba(237,18,32,1)));
    background: -webkit-linear-gradient(top, rgba(240,61,82,1) 0%, rgba(237,18,32,1) 100%);
    background: -o-linear-gradient(top, rgba(240,61,82,1) 0%, rgba(237,18,32,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,61,82,1) 0%, rgba(237,18,32,1) 100%);
    background: linear-gradient(to bottom, rgba(240,61,82,1) 0%, rgba(237,18,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f03d52', endColorstr='#ed1220', GradientType=0 );

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.chat-video-call-status-accepted{
    padding-left: 0px;
    text-align: center;
}
.chat-video-call-status-sdp{
    padding-left: 0px;
    text-align: center;
}
.chat-video-call-status-ice{
    padding-left: 0px;
    text-align: center;
}