<div class="chat-users" id="cusrs">
    <div class="chat-users-search" id="cusr_search">
        <div class="input-group input-group">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" id="user_search">
        </div>                
    </div>
    <div class="chat-users-list" id="cusr_list">
        <ul class="chat-users-list-ul">
            <!--<li class="chat-users-list-li">
                <div class="chat-users-participant">
                    <div class="chat-users-participant-type">Doctor</div>
                    <div class="chat-users-participant-photo"></div>
                    <div class="chat-users-participant-info">
                        <div class="chat-users-participant-name">Dr. Shatadal Saha</div>
                        <div class="chat-users-participant-email">shatadal@saha.org</div>
                        <div class="chat-users-participant-doctor-rank">MBBS, MD</div>
                    </div>
                </div>
            </li>
            <li class="chat-users-list-li">
                <div class="chat-users-participant">
                    <div class="chat-users-participant-type">Patient</div>
                    <div class="chat-users-participant-photo"></div>
                    <div class="chat-users-participant-info">
                        <div class="chat-users-participant-name">Mr. Bikash Paul</div>
                        <div class="chat-users-participant-email">bikash@paul.org</div>
                        <div class="chat-users-participant-patient-age">M 42 years old 5 months</div>
                    </div>
                </div>
            </li>-->
        </ul>
    </div>
</div>
<div class="chat-boxes" id="cboxs">
    <!--<div class="chat-box">
        <div class="chat-box-title">
            <div class="chat-box-title-name">name</div>
            <div class="chat-box-title-control chat-box-title-hide">_</div>
            <div class="chat-box-title-control chat-box-title-close">_</div>
        </div>
        <div class="chat-box-body">

        </div>
        <div class="chat-box-write">
            <div class="chat-box-write-input"></div>
            <div class="chat-box-write-send"></div>
        </div>
    </div>
    <div class="chat-box">
        <div class="chat-box-title">
            <div class="chat-box-title-name">name</div>
            <div class="chat-box-title-control chat-box-title-hide">_</div>
            <div class="chat-box-title-control chat-box-title-close">_</div>
        </div>
        <div class="chat-box-body">

        </div>
        <div class="chat-box-write">
            <div class="chat-box-write-input"></div>
            <div class="chat-box-write-send"></div>
        </div>
    </div>-->
</div>