<div class="chat-users" id="cusrs">
    <div class="chat-users-search" id="cusr_search">
        <div class="input-group input-group">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" id="user_search">
        </div>                
    </div>
    <div class="chat-users-list" id="cusr_list">
        <ul class="chat-users-list-ul"></ul>
    </div>
</div>
<div class="chat-boxes" id="cboxs" data-last="{{latest}}"></div>