{% load widget_tweaks %}

<!-- begin story-random-creation panel -->
<div class="story-create-panel" id="story_creation_panel">
    <div class="story-create-panel-canvas">
        <div class="form-container story-creation-form">
            <div class="form-overlay story-creation-form-overlay"></div>
            <div class="form-error story-creation-form-error">
                {{ form.non_field_errors }}
            </div>
            <form class="form" method="post" action="{% url 'random_story_create'  %}" id="story_creation_form">
                {% csrf_token %}
                <div class="form-field story-creation-form-field">
                    {{ form.patient.errors }}
                    <input type="hidden" name="patient" id="id_patient" />
                    <input type="text" name="patient_selector" id="id_patient_selector" class="story-creation-form-field-input story-creation-form-field-input-patient" placeholder="Type Patient Name" />
                    <div class="form-field-error story-creation-form-field-error"><ul></ul></div>
                </div>
                <div class="form-field story-creation-form-field">
                    {{ form.refers_to.errors }}
                    <label for="id_refers_to" class="form-field-label story-creation-form-field-label">Refers</label>
                    <div class="story-search-bar">
                        <a href="#" class="story-refer form-action identity-action-button white story-creation-form-field-action">Refer Other Story</a>
                        <input type="text" name="story_referer" id="id_story_referer" class="story-creation-form-field-input story-creation-form-field-input-referer" placeholder="Story Id" />
                    </div>
                    <ul class="ministories-list refered-ministories-list"></ul>
                    <select multiple="multiple" id="id_refers_to" name="refers_to">
                    </select>
                </div>
                <div class="form-field story-creation-form-field">
                    {{ form.subject.errors }}
                    <label for="id_subject" class="form-field-label story-creation-form-field-label">Heading</label>
                    {{ form.subject|add_class:"story-creation-form-field-input story-creation-form-field-subject-body" }}
                    <div class="form-field-error story-creation-form-field-error"><ul></ul></div>
                </div>
                <!--
                <div class="form-field story-creation-form-field">
                    {{ form.is_prescription.errors }}
                    <label for="id_is_prescription" class="form-field-label story-creation-form-field-label">Prescription</label>
                    {{ form.is_prescription|add_class:"story-creation-form-field-input story-creation-form-field-prescription" }}
                    <div class="form-field-error story-creation-form-field-error"><ul></ul></div>
                </div>
                -->
                <div class="form-field story-creation-form-field">
                    {{ form.body.errors }}
                    <label for="id_body" class="form-field-label story-creation-form-field-label">Consultation</label>

                    <div id="prescription" class="prescription-editor-toolbar" data-prescription='{"medicines": []}'>
                      <div class="dropdown prescription-editor-toolbar-button">
                        <button class="btn btn-default dropdown-toggle" id="addmed" data-toggle="dropdown" aria-haspopup="true" type="button">Add Medicine<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="addmed">
                              <li><a href="#" id="periodic_medication">Periodic</a></li>
                              <li><a href="#" id="asrequired_medication">As Required</a></li>
                        </ul>
                      </div>
                      <div class="btn btn-default prescription-editor-toolbar-button" id="advice_medication">Add Advice</div>
                      <div class="btn btn-default prescription-editor-toolbar-button" id="test_medication">Add Investigation</div>
                      <div class="btn btn-default prescription-editor-toolbar-button" id="remark_medication">Add Remarks</div>
                    </div>
                    <div id="prescription_body" class="story-creation-form-field-input story-creation-form-field-input-body">
                    </div>
                    <div id="prescription_body_editor" class="story-creation-form-field-input story-creation-form-field-input-body-editor">
                    </div>
                    {{ form.body.as_hidden }}
                    <div class="form-field-error story-creation-form-field-error"><ul></ul></div>
                </div>
                <div class="form-field story-creation-form-field">
                    <input id="story_creation_submit" type="submit" name="submit" value="Create Story" class="form-action identity-action-button red story-creation-form-field-action" />
                    <input id="story_creation_reset" type="reset" name="reset" value="Discard" class="form-action identity-action-button green story-creation-form-field-action" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- begin story-random-creation panel -->
