.complaint-section{
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.complaint-section-heading{
    width: 20px;
    float: left;
    display: block;
    height: 70px;
    position: relative;
}
.complaint-section-heading-symptom{
    border-right: 2px solid #d4403c;
    background: url(/static/pix/symptoms.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 87px;
    background-color: #d4403c;
}
.complaint-section-body{
    position: relative;
    display: block;
    float: left;
    width: calc(100% - 20px);
}
.symptoms-container{
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.symptom{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}
.complaint-category{
    position: relative;
    display: inline;
    clear: left;
    float: left;
    display: block;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding: 4px 0px 2px 2px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.symptom-category{
    border-top: 4px solid #d4403c;
}
.symptom-type{
    position: absolute;
    display: block;
    right: 0px;
    top: 6px;
    font-size: 14px;
}
.symptom-type::before{
    content: "("
}
.symptom-type::after{
    content: ")"
}
.complaint-questionnaires{
    display: none;
    padding-left: 4px;
}
.complaint-qa{}
.complaint-question{
    font-weight: bold;
    margin-right: 10px;
    font-size: 14px;
}
.complaint-answer{
    font-size: 12px;
    float: right;
}

.symption-questionnaires{}
.symptom-qa{
    border-bottom: 1px solid #cecece;
}
.symptom-question{}
.symptom-answer{}

.complaint-section-heading-observation{
    border-right: 2px solid #ec27c2;
    background: url(/static/pix/observations.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    background-color: #ec27c2;
}
.observation{
    border-top: 4px solid #ec27c2;
}
.complaint-section-heading-habit{
    border-right: 2px solid #8f961d;
    background: url(/static/pix/habits.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    background-color: #8f961d;
}
.habit{
    border-top: 4px solid #8f961d;
}
.complaint-section-heading-habit{
    border-right: 2px solid #8f961d;
    background: url(/static/pix/habits.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    background-color: #8f961d;
}
.habit{
    border-top: 4px solid #8f961d;
}
.complaint-section-heading-history{
    border-right: 2px solid #50159e;
    background: url(/static/pix/history.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 62px;
    background-color: #50159e;
}
.history{
    border-top: 4px solid #50159e;
}
.complaint-section-heading-postexams{
    border-right: 2px solid #275d05;
    background: url(/static/pix/postexams.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 87px;
    background-color: #275d05;
}
.postexam-category{
    border-top: 4px solid #275d05;
}

.complaint-section-heading-family{
    border-right: 2px solid #092352;
    background: url(/static/pix/family.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 87px;
    background-color: #092352;
}
.family-category{
    border-top: 4px solid #092352;
}
.family-question{
    padding-left: 6px;
}

.complaint-section-heading-media{
    border-right: 2px solid #092352;
    background: url(/static/pix/attachments.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    background-color: #092352;
}
.complaint-section-media{}
.complaint-section-media-body{
    height: 120px;
    overflow-x: auto;
}
.complaint-media{
    position: relative;
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    cursor: pointer;
}
.complaint-media-label{
    position: absolute;
    font-size: 12px;
    width: 100%;
    color: black;
    opacity: 0.1;
    color: white;
    text-align: center;
    bottom: 0px;
    left: 0px;
}
.complaint-media:hover .complaint-media-label{
    opacity: 0.8;
}
.complaint-media-image{
    width: 100px;
    height: 100px;
}
.complaint-media-ul{
    padding-left: 0px;
}
.complaint-media-li{
    list-style-type: none;
    float: left;
}