@page {
   /*size: 7in 9.25in;*/
   /*margin: 27mm 16mm 27mm 16mm;*/
   /*margin: 0 0em 0em 0em;*/
}
@media print { * { -webkit-print-color-adjust: exact; } }
@media print {
    html, body {
        width: 7in;
        height: 9.25in;
    }
    @page { 
        margin: 0;
        margin-right: 10mm; 
        margin-left: 10mm;
        margin-top: 10mm;
        margin-bottom: 0cm;
        -webkit-print-color-adjust: exact;
    }
    body { margin: 0cm; }
    .prescription-patient-age, .prescription-complaints-label, .prescription-prescriptions-label , .complaint-section-heading{
        -webkit-print-color-adjust: exact; 
    }
}

body{
  font-family: monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  background: white;
  margin: 0px;
  width: 7in;
}

#qr{
    width: 128px;
    height: 128px;
    float: right;
}
.prescription-logo{
    height: 128px;
    float: left;
    display: block;
    position: relative;
    margin-right: 10px;
}
.prescription-head{
    float: left;
    width: 100%;
    display: block;
    position: relative;
    border-bottom: 1px solid #888;
    padding-bottom: 2px;
    font-weight: bold;
}
.prescription-meta{
    display: block;
    position: relative;
    float: left;
}
.prescription-content{
    margin-top: 15px;
    float: left;
    width: 100%;
    display: block;
    position: relative;
}
.prescription-when{
    float: left;
    display: block;
}
.prescription-doctor{
    float: left;
    display: block;
    position: relative;
    margin-left: 10px;
    border-bottom: 1px solid #333;
    padding-left: 10px;
}
.prescription-patient{
    display: block;
    position: relative;
    margin-left: 10px;
    border-left: 1px solid #888;
    padding-left: 10px;
}
.prescription-patient-age{
    background-color: #888;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}
.prescription-prescriptions{
    float: left;
    display: block;
    position: relative;
    width: 2.8in;
    margin-left: 15px;
}
.prescription-prescription-medicines{
    float: left;
    display: block;
    position: relative;
    width: 100%;
}
.prescription-complaints-label, .prescription-prescriptions-label{
    background: black !important;
    color: white !important;
    display: inline-block;
    padding: 0px 5px 5px 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-print-color-adjust: exact;
}
.prescription-complaint{
    float: left;
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.prescription-prescription{
    float: left;
    display: block;
    position: relative;
    width: 100%;
}
.prescription-prescription-medicines-list{
    float: left;
    display: block;
    position: relative;
    list-style-type: decimal;
}
.prescription-prescription-medicines-list .prescription-entry-remove{
    display: none;
}
.prescription-prescription-medicines-list-item{
    border-bottom: 1px dashed #808080 !important;
}
.prescription-entry{
  float: left;
  display: block;
  position: relative;
  margin-bottom: 0px;
  margin-top: 4px;
  width: 100%;
}
.medicine-name{
  float: left;
  margin-left: 5px;
}
.medicine-dose{
  float: left;
  margin-left: 5px;
}
.medicine-interval{
  float: left;
  margin-left: 5px;
}
.medicine-termination{
  float: left;
  margin-left: 5px;
}
.medicine-when{
  float: left;
  margin-left: 5px;
}
.medicine-situation{
  float: left;
  margin-left: 5px;
}
.medicine-note{
  float: left;
  margin-left: 5px;
}

.prescription-complaints{
    display: block;
    position: relative;
    width: 4in;
    float: left;
}

.complaint-section{
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.complaint-section-heading{
    width: 20px;
    float: left;
    display: block;
    height: 70px;
    position: relative;
}
.complaint-section-heading-symptom{
    border-right: 2px solid #5a5a5a !important;
    background: url(/static/pix/symptoms.png) no-repeat center 5px !important;
    background-size: contain !important;
    height: 104px;
    background-color: #5a5a5a !important;
}
.complaint-section-body{
    position: relative;
    display: block;
    float: left;
    width: calc(100% - 24px);
}
.symptoms-container{
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.symptom{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}
.complaint-category{
    position: relative;
    display: inline;
    clear: left;
    float: left;
    display: block;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding: 4px 0px 2px 2px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.symptom-category{
    border-top: 4px solid #5a5a5a !important;
}
.symptom-type{
    position: absolute;
    display: block;
    right: 0px;
    top: 6px;
    font-size: 14px;
}
.symptom-type::before{
    content: "("
}
.symptom-type::after{
    content: ")"
}
.complaint-questionnaires{
    /*display: none;*/
    padding-left: 4px;
}
.complaint-qa{}
.complaint-question{
    font-weight: bold;
    font-size: 14px;
}
.complaint-answer{
    font-size: 12px;
    float: right;
}

.symption-questionnaires{}
.symptom-qa{
    border-bottom: 1px solid #cecece !important;
}
.symptom-question{}
.symptom-answer{}

.complaint-section-heading-observation{
    border-right: 2px solid #9e9e9e !important;
    background: url(/static/pix/observations.png) no-repeat center 5px !important;
    background-size: contain !important;
    height: 100px;
    background-color: #9e9e9e !important;
}
.observation{
    border-top: 4px solid #9e9e9e !important;
}
.complaint-section-heading-habit{
    border-right: 2px solid #272727 !important;
    background: url(/static/pix/habits.png) no-repeat center 5px !important;
    background-size: contain !important;
    height: 100px;
    background-color: #272727 !important;
}
.habit{
    border-top: 4px solid #272727 !important;
}
.complaint-section-heading-history{
    border-right: 2px solid #464646 !important;
    background: url(/static/pix/history.png) no-repeat center 5px !important;
    background-size: contain !important;
    height: 100px;
    background-color: #464646 !important;
}
.history{
    border-top: 4px solid #464646 !important;
}
.complaint-section-heading-postexams{
    border-right: 2px solid #5a5a5a !important;
    background: url(/static/pix/postexams.png) no-repeat center 5px !important;
    background-size: contain !important;
    height: 100px;
    background-color: #5a5a5a !important;
}
.postexam-category{
    border-top: 4px solid #5a5a5a !important;
}

.complaint-section-heading-family{
    border-right: 2px solid #383838 !important;
    background: url(/static/pix/family.png) no-repeat center 5px !important;
    background-size: contain !important;
    height: 87px;
    background-color: #383838 !important;
}
.family-container{
    position: relative;
    display: block;
    width: 100%;
    border-top: 4px solid #383838 !important;
}
.family{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px dashed black !important;
}
.family-category{
    display: block;
    float: left;
    position: relative;
    clear: both;
    padding: 0px;
    width: auto;
}
.family-questionnaires{
    display: block;
    float: right;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.complaint-section-symptom{
    min-height: 120px;
}
.complaint-section-observation{
    min-height: 120px;
}
.complaint-section-habit{
    min-height: 70px;
}
.complaint-section-history{
    min-height: 80px;
}
.complaint-section-postexams{
    min-height: 110px;
}
.complaint-section-family{
    min-height: 120px;
}
.complaint-section-vitals{
    min-height: 70px;
}
.complaint-section-heading-vitals{
    border-right: 2px solid #383838 !important;
    background: url(/static/pix/vitals.png) no-repeat center 5px !important;
    background-size: contain !important;
    height: 60px;
    background-color: #383838 !important;
}
.vitals-container{
    display: table;
    display: table;
    position: relative;
    float: left;
    width: 100%;
}
.vital{
    display: table-row;
    float: left;
    border-right: 1px dashed;
}
.vital-category{
    display: table-cell;
    text-align: center;
}
.vital-value{
    display: table-cell;
    text-align: center;
    width: 100%;
    float: left;
}

.vital-type-weight{
    width: 80px;
}
.vital-type-height{
    width: 98px;
}
.vital-type-bmi{
    width: 100px;
}
.vital-type-spo2{
    width: 80px;
}
.vital-type-pulse{
    width: 80px;
}
.vital-type-temparature{
    width: 120px;
}
.vital-type-bp{
    width: 90px;
}

.prescription-print-columns{
    position: relative;
    display: block;
    width: 100%;
    float: left;
}
.prescription-print-column{
    display: block;
    float: left;
    font-size: 13px;
}
.prescription-print-columns-3{

}
.prescription-print-columns-2{

}
.prescription-print-columns-3 .prescription-print-column{

}
.prescription-print-columns-2 .prescription-print-column{

}
.prescription-print-columns-3 .complaint-section-observation{
    width: 127px;
}
.prescription-print-columns-3 .complaint-section-history{
    width: 157px;
}
.prescription-print-columns-3 .complaint-section-habit{
    width: 100px;
}

.prescription-print-columns-2 .complaint-section-postexams{
    width: 400px;
}
.prescription-print-columns-2 .complaint-section-family{
    width: 300px;
}
.footer{
    border-top: 1px solid #222;
    width: 100%;
    float: left;
    display: block;
}
.footer .caregiver-assistance::before{
    content: "Assisted by";
    float: left
}
.footer .caregiver-assistance{
    margin-left: 10px;
}
.footer .caregiver-assistance .caregiver-name{
    float: left;
    margin-left: 5px;
    font-weight: bold;
}
.footer .caregiver-assistance .caregiver-organization{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.doctor-signature{
    float: right;
    width: 150px;
}
.doctor-signature .doctor-signature-imagee{
    height: 50px;
    width: 150px;
    float: left;
}
.doctor-signature .doctor-name{
    float: left;
    display: block;
    font-weight: bold;
    clear: both;
    text-align: center;
}
.doctor-signature .doctor-name::before{
    content: "("
}
.doctor-signature .doctor-name::after{
    content: ")"
}