.doctors{}
.doctor{
    width: 167px;
    position: relative;
    float: left;
}
.doctor-visits{
    position: absolute;
    top: 0px;
    right: -1px;
    z-index: 2;
    padding: 2px;
    padding-left: 5px;
    font-size: 10px;
    background-color: #E4E4E6;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
}
.doctor-visits .unit a{
    text-decoration: none;
    color: inherit;
}